.about-container {
  overflow: auto;
  min-height: 100vh;
}

.about-content {
  margin: auto;
  width: 40%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 2.5rem;    /* Footer height */
}

@media screen and (max-width: 1400px) {
  .about-content {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .about-content {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .about-content {
    width: 94%;
  }
}
