node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
yarn.lock


# dotenv environment variables files
.env
.env.development
.env.production
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/jeanarjean.github.io/v16/.suo
