.post-title {
  font-weight: 650;
}

.post-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-color: black;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.post-content {
  h1{
    text-align: left;
    line-height: 2rem;
  }
  margin: auto;
  font-size: 1.05rem;
  font-family: 'Helvetica', monospace;
  text-align: justify;
  line-height: 1.5rem;
  width: 40%;
  background: rgba(255, 255, 255, 0.97);
  color: rgb(48, 48, 48);
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10px;
  padding-bottom: 20px;
  p{
    overflow: hidden;
  }
  a {
    color: rgb(49, 48, 48);
    transition: 0.3s;
     /* Transition effects on hover (color) */
    }
  /* visited link */
  a:visited {
    color: rgb(49, 48, 48);
  }

  a:hover {
    color: rgb(133, 130, 130);
  }
}

@media screen and (max-width: 1400px) {
  .post-content {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .post-content {
    width: 80%;
  }
}
