.post-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-color: black;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.post-content {
  margin: auto;
  width: 40%;
  background: rgba(255, 255, 255, 0.8);
  padding-left: 1vw;
  padding-right: 1vw;
  a {
    color: rgb(49, 48, 48);
    transition: 0.3s;
     /* Transition effects on hover (color) */
    }
  /* visited link */
  a:visited {
    color: rgb(49, 48, 48);
  }

  a:hover {
    color: rgb(133, 130, 130);
  }
}

@media screen and (max-width: 1400px) {
  .post-content {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .post-content {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .post-content {
    width: 98%;
  }
}
