@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");

.home-container {
  overflow: auto;
}

@media screen and (max-width: 1400px) {
  .home-content {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .home-content {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .home-content {
    width: 94%;
  }
}

@media screen and (min-width: 1200px) {
  .poster-left-margin {
    width: 0vw;
  }

  .poster-right-margin {
    width: 0vw;
  }
}

.poster-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20vh;

  .poster-left-margin {
    width: 20vw;
  }

  .poster-right-margin {
    width: 20vw;
  }

  @media screen and (max-width: 1200px) {
    .poster-left-margin {
      width: 0vw;
    }

    .poster-right-margin {
      width: 0vw;
    }
  }
  .poster-image-container {
    text-align: center;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.767);

      .poster-image {
        height: 75vh;
      }
      .print-title {
        text-decoration: none;
        @media screen and (max-width: 1200px) {
          margin-bottom: 10px;
        }
      }
    }
  }

  .poster-description-container {
    display: flex;
    font-family: "Rokkitt", serif;
    line-height: 1rem;

    text-align: justify;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
    height: 80vh;
    margin-left: 20px;

    @media screen and (max-width: 1200px) {
      margin-top: 20px;
      max-width: unset;
      align-items: unset;
    }

    .poster-description-text {
      padding-left: 15%;
      padding-right: 15%;
    }

    .poster-description-additional-information {
      white-space: pre-line;
      text-align: center;
    }

    .buy-button-container {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}

.checkout-button {
  font-size: 1.5rem;
  padding: 12px 60px;
  margin-left: -2px;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: 0.05rem;
  outline: 0;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  border: black;
  border-style: solid;
  border-width: 1px;

  &:active {
    background-color: #f2f2f2;
    color: black;
    transition: background 0.2s ease, color 0.2s ease;
  }

  &:hover {
    background-color: #f2f2f2;
    color: black;
    transition: background 0.2s ease, color 0.2s ease;
    z-index: 2;
  }
}


.add-to-cart-button {
  font-size: 1.25rem;
  padding: 12px 25px;
  margin-top: 5px;
  margin-left: -2px;
  font-family: inherit;
  font-weight: 800;
  letter-spacing: 0.05rem;
  outline: 0;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  border: black;
  border-style: solid;
  border-width: 1px;

  &:active {
    background-color: #f2f2f2;
    color: black;
    transition: background 0.2s ease, color 0.2s ease;
  }

  &:hover {
    background-color: #f2f2f2;
    color: black;
    transition: background 0.2s ease, color 0.2s ease;
    z-index: 2;
  }
}

.cart-image {
  width: 50px;
  height: auto;
}

.cart-checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}