.button {
    display: inline-block;
    background-color: #e6a23c;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}


.button:hover {
    background-color: hsl(36, 77%, 65%);
}

.button-link {
    text-decoration: none;
    color:white;
}

.button-link:visited {
    text-decoration: none;
    color:white;
}