.card {
    width: 75vw;
    margin: auto;
    margin-bottom: 2vh;
}

.card-container {
    display: grid;
    grid-template-columns: 46.35vw 28.64vw;
    grid-template-areas: 'image title';
    grid-template-rows: 50vh;
    background-color: #f2f2f2;
    border-style: none;
    height: 50vh;
    overflow: hidden;
}


.card-container:active {
    transition: background 0.2s ease, color 0.2s ease;
}

.card-container:hover {
    background-color: #191919;
    transition: background 0.2s ease, color 0.2s ease;
    opacity: 0.9;
    -moz-opacity: 90%;
    -webkit-opacity: 90%;
    z-index: 2;
}

.card-image {
    grid-area: image;
    text-align: center;
    overflow: hidden;
}

.card-image:hover {
    background-color: black;
}

.card-image-preview {
    margin-left: 50%;
    margin-bottom: 30%;
    transform: translate(-50%, -30%);
}

.card-title {
    grid-area: title;
    margin: auto;
    text-align: center;

    font-weight: 500;
    font-size: 1rem;
}

.card-link {
    color: black;
}

.card-link:hover {
    color: #f2f2f2;
}

@media only screen and (max-width: 1766px) {
    .card-image-preview {
        height: auto;
        width: auto;
        max-width: 1000px; 
    }

    .card-container {
        display: grid;
        grid-template-areas: 'title title' 
        'image image';
        height: 50vh;
        grid-template-rows: 12vh  38vh;
        border-style: none;
        overflow: hidden;
    }
}