.footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            /* Footer height */
}

.icon-style {
    height: 2.25rem;
    width: 2.25rem;
}