.external-links {
    a:visited {
        color: blue;
    }
}
.footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; /* Footer height */
    a{
        color: rgb(87, 86, 86);
    }
    a:visited {
        color: rgb(94, 94, 94);
    }
    a:hover {
        color: rgb(48, 48, 48);
    }
}

.icon-style {
    height: 2.25rem;
    width: 2.25rem;
}
