.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  height: 12vh;
  margin-bottom: 1vh;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding-top: 1vh;
}

.left {
  margin-left: 1vw;
}

.right {
  margin-right: 1vw;
}

.menu-item-container {
  display: inline-block;
  margin-left: 1vw;
  font-size: 1.5rem;
}
