body {
  margin: 0;
  padding: 0;
 font-family: 'Roboto Mono', monospace;
}

a {
  color: #404040;
}

/* visited link */
a:visited {
  color: #808080;
}

/* mouse over link */
a:hover {
  color: black;
  transition: background 0.2s ease, color 0.2s ease;
}

/* selected link */
a:active {
  color: black;
}

ul {
  padding-left: 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3rem;    /* Footer height */
}