.programming-card {
    width: 30%;
    margin: auto;
    margin-bottom: 2vh;
    height: 50vh;
    margin-bottom: 15vh;
}

.programming-card-container {
    display: grid;
    grid-template-areas: 'title' 'image' 'description' 'footer';
    grid-template-rows: 25px 40vh 15vh 25px;
    border: 1px solid #eedeee;
    border-radius: 5px;
    padding-bottom: 5px;
}

.programming-card-image {
    border-right: none;
    border-left: none;
    grid-area: image;
    overflow: hidden;
}

.programming-card-image-preview {
    margin-left: 50%;
    margin-bottom: 0%;
    transform: translate(-50%, 0%);
    max-width: 1100px;
}

.programming-card-title-section {
    grid-area: title;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: 500;
    font-size: 1rem;
}

.programming-card-title {
    margin-left: 5px;
    color: black;
    font-weight: 600;
}

.programming-card-date {
    margin-right: 5px;
    color: black;
    font-weight: 600;
}

.programming-card-description {
    grid-area: description;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.programming-card-footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-left: 5px;
}

.programming-card-stack-element {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1766px) {
    .programming-card-image-preview {
        height: auto;
        width: auto;
        max-width: 700px;
    }
}

@media screen and (max-width: 1400px) {
    .programming-card {
        width: 60%;
        margin-bottom: 20vh;
    }
    .programming-card-description {
        overflow: scroll;
    }
}

@media screen and (max-width: 1000px) {
    .programming-card {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .programming-card {
        width: 90%;
    }
}