.container {
  margin: auto;
  width: 40%;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 98%;
  }
}
